
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/imgs/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-color: rgba(240, 248, 255, 0.989);
    margin: 90px 150px;
    height: 600px;
    border-radius: 7px;
    display: flex;
}

img{
    width: 580px;
    height: 600px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

fieldset{
    border: none;
    text-align: center;
}

fieldset p{
    text-align: start;
    margin-left: 110px;
    margin-top: 15px;
}

.registration-pane{
    font-size: 15px;
    margin: 20px 60px;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /* background-color: #b0c0c4; */
}

.registration{
    text-align: center;
}
.registration p{
    margin-top: 0;
    font-size: smaller;
}

.registration h1{
    color: #365b4f;
    margin-bottom: 0;
}

form{
    margin-top: 10px;
}

.name-email p{
    /* margin-top: 10px; */
    line-height: 20px;
}

input{
    padding: 15px;
    width: 270px;
    border-radius: 8px;
    border: none;
    background-color: #d1d7db;
}

select{
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: #d1d7db;
}

.submit{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.submit button{
    margin-top: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #365b4f;
    color: aliceblue;
    font-size: 19px;
}

/* .name-email{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.dob-city{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.country-sub{
    display: flex;
    justify-content: center;
    gap: 40px;
}*/
